<!doctype html>
<html lang="en">
<style>
    th, td {
        padding: 5px;
        text-align: left;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    li {
      text-align: center;
    }
</style>
<head>
    <meta charset="utf-8">
    <title>Song List</title>
</head>
<body>
    <table class="center">
    <caption>Songs</caption>

    {% for song in song_list %}

        {% if forloop.first %}
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Average Rating</th>
            <th>Number of Ratings</th>
        </tr>
        {% endif %}

    <tr>
        <td><a href="{% url 'song_rater:song-detail' pk=song.pk %}" class="btn btn-primary">{{ song.artist }}</a></td>
        <td><a href="{% url 'song_rater:song-detail' pk=song.pk %}" class="btn btn-primary">{{ song.title }}</a></td>
        <td><a href="{% url 'song_rater:song-detail' pk=song.pk %}" class="btn btn-primary">{{ song.avg_rating }}</a></td>
        <td><a href="{% url 'song_rater:song-detail' pk=song.pk %}" class="btn btn-primary">{{ song.n_ratings }}</a></td>
    </tr>
    {% empty %}
    <li>No songs available yet. Try adding a new song :)</li>
    {% endfor %}

    </table>
</body>
</html>
